* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e7e7e7;
}

#contaner {
    display: flex;
}

#sideR {
    position: absolute;
    width: 10%;
    height: 400px;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10%;
    box-shadow: 2px 2px 15px black, -3px -3px 10px white, inset 1px 1px 5px black, inset -1px -1px 5px white;
}

#red {
    background-color: red;
}

#black {
    background-color: black;
}

#green {
    background-color: green;
}

#white {
    background-color: white;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#label {
    text-align: center;
    font-size: 2rem;
    margin: 40%;
}

#range {
    margin: 20%;
}

#clear {
    background-color: #e7e7e7;
}